header.main-header 
    nav.main-nav
        a.main-nav__logo.link(href="#")
        ul.main-nav__list.list
          each link in ['Catalogue', 'Fasion', 'Favourite', 'Lifestyle']
            li.main-nav__item: a.main-nav__link.link(href=`#${link.toLowerCase()}`) #{link}
