@use "variables.scss";
@use "mixins.scss";

.collaboration {
    background-color: variables.$color-yellow;
}

.collaboration__wrapper {
    margin-bottom: 69px;
}

.collaboration__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
   

    padding-top: 62px;
    padding-bottom: 55px;

    @media (width <= variables.$screen-tablet-large) {
        padding-top: clamp(28px, calc((62/1920) * 100vw), 62px);
        padding-bottom: clamp(24px, calc((55/1920) * 100vw), 55px);
    }

    @media (width <= variables.$screen-tablet-small) {
        flex-wrap: wrap;
        justify-content: center;
        gap: 32px;
    }

}

.collaboration__item {
    background-size: contain;
    aspect-ratio: 1;
    min-width: 70px;
    min-height: 30px;

    @media (width <= variables.$screen-tablet-small) {
        flex-basis: 25%;
    }

    &--hm {
        @include mixins.pseudo("../icons/h&m.svg", calc((118 / 1920) * 100vw), calc((69 / 1920) * 100vw));
    }

    &--obey {
        @include mixins.pseudo("../icons/obey.svg", calc((150 / 1920) * 100vw), calc((52.6 / 1920) * 100vw));
    }

    &--shopify {
        @include mixins.pseudo("../icons/shopify.svg", calc((176 / 1920) * 100vw), calc((62 / 1920) * 100vw));
    }

    &--lacoste {
        @include mixins.pseudo("../icons/lacoste.svg", calc((235 / 1920) * 100vw), calc((70 / 1920) * 100vw));
    }

    &--levis {
        @include mixins.pseudo("../icons/levis.svg", calc((127 / 1920) * 100vw), calc((70 / 1920) * 100vw));
    }

    &--amazon {
        @include mixins.pseudo("../icons/amazon.svg", calc((166 / 1920) * 100vw), calc((50 / 1920) * 100vw));
    }
}
