@use "variables.scss";
@use "mixins.scss";

.download__wrapper {
    padding-bottom: clamp(90px, calc((200 / 1920) * 100vw), 200px);
}

.download__container {
    padding: 0 clamp(56px, calc((119 / 1920) * 100vw), 119px);

    @media (width <= variables.$screen-tablet-small) {
        padding: 0;
    }
}

.download__title {
    font-size: 3rem;
    font-size: clamp(36px, 3vw, 48px);
    font-weight: 900;
    line-height: 150%;
    letter-spacing: clamp(1.88px, 2vw, 2.88px);
    text-transform: uppercase;

    @media (width <= variables.$screen-tablet-small) {
        padding-bottom: 12px;
    }

    @media (width <= variables.$screen-mobile) {
        padding-bottom: 12px;
    }
}

.download__description {
    color: #7c7c7c;
    font-size: clamp(12px, 1.5vw, 24px);
    font-weight: 500;
    line-height: clamp(10px, 2.5vw, 35px);
    letter-spacing: -0.96px;

    padding-bottom: clamp(32px, calc((65 / 1920) * 100vw), 65px);

    @media (width <= variables.$screen-tablet-small) {
        letter-spacing: normal;
    }

    @media (width <= variables.$screen-mobile) {
        font-size: 12px;
        line-height: 16px;
    }
}

.download__image {
    position: relative;
    object-fit: none;
    z-index: 1;
}

.download__link {
    width: clamp(102px, calc((204 / 1920) * 100vw), 204px);
    height: clamp(36px, calc((71 / 1920) * 100vw), 71px);

    background-repeat: no-repeat;

    border-radius: 10px;

    transition: transform 0.2s ease-in-out;

    @media (hover: hover) and (pointer: fine) {
        &:hover {
            transform: scale(1.05);
            z-index: 1;
        }

        &:active {
            transform: scale(1);
            z-index: 1;
        }
    }

    &--apple {
        background-image: url("../icons/appstore.svg");
        background-size: contain;
    }

    &--googleplay {
        background-image: url("../icons/googleplay.svg");
        background-size: contain;
    }
}

.download__mobile-round {
    position: absolute;
    inset: 0;
    margin: auto;

    &--1 {
        @include mixins.mobile-round(440, 434.5);
        border: 1.7px solid #efeceb;
    }

    &--2 {
        @include mixins.mobile-round(537, 530);
        border: 2.108px solid #efeceb;
    }

    &--3 {
        @include mixins.mobile-round(637, 629);
        border: 2.5px solid #efeceb;
    }

    @media (width <= variables.$screen-tablet-small) {
        display: none;
    }
}

.download__cirle {
    border-radius: 50%;
    position: absolute;

    @media (width <= 900px) {
        display: none;
    }

    &--1 {
        background-color: #89807a;
        @include mixins.star(22, 24, 90, auto, auto, 110);
    }

    &--2 {
        background-color: #ebd96b;
        @include mixins.star(34, 34, auto, auto, 15, 90);
    }

    &--3 {
        background-color: #ebd96b;
        @include mixins.star(50, 50, 55, 90, auto, auto);
    }

    &--4 {
        width: 17px;
        height: 17px;
        background-color: #89807a;
        right: 50px;
        bottom: 60px;
        @include mixins.star(17, 17, auto, 50, 60, auto);
    }
}
