@use "variables.scss";
@use "mixins.scss";

.download-container {
    display: flex;

    @media (width <= variables.$screen-tablet-small) {
        flex-direction: column;
    }
}

.download-container__subject {
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: right;
    position: relative;

    @media (width <= variables.$screen-tablet-small) {
        margin-bottom: 32px;
    }
}

.download-container__image {
    flex-basis: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    height: clamp(400px, calc((711 / 1920) * 100vw), 711px);

    @media (width <= variables.$screen-tablet-small) {
        flex-basis: auto;
        align-self: center;
        justify-content: center;
    }
}

.download-container__links {
    padding-bottom: 41px;
    display: flex;
    gap: 19px;
}
