@use "variables.scss";
@use "mixins.scss";

.favourite__title {
    font-size: clamp(24px, 4vw, 3rem);
    font-weight: 900;
    line-height: clamp(24px, 4vw, 50px); /* 104.167% */
    letter-spacing: 2.88px;
    z-index: 1;

    position: relative;
    width: fit-content;

    margin-bottom: clamp(60px, calc((118 / 1920) * 100vw), 118px);

    &::before {
        @include mixins.pseudo("../icons/new_yellow_vector.svg", 186px, 35px);

        position: absolute;
        background-size: contain;
        z-index: -1;
        right: 0;
        bottom: -10px;
    }

    @media (width <= variables.$screen-tablet-large) {
        &::before {
            width: calc(186px / 2);
            height: calc(35px / 2);
            bottom: 0;
        }
    }

    @media (width <= variables.$screen-mobile) {
        line-height: 28px;
        margin-bottom: 32px;
        &::before {
            display: none;
        }

        &::after {
            content: "";
            display: block;
            
            width: 32px;
            height: 32px;

            border-radius: 50%;
            background-color: #e3c743;

            position: absolute;
            left: 44%;
            bottom: 0px;
            z-index: -1;
        }
    }
}

.favourite__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 48px;
    column-gap: clamp(24px, calc((48 / 1920) * 100vw), 48px);

    padding-bottom: 109px;

    @media (width <= 1231px) {
        justify-content: center;
    }

    @media (width <= variables.$screen-tablet-small) {
        padding-bottom: 64px;
    }

    @media (width <= variables.$screen-mobile) {
        row-gap: 20px;      
    }
}

.favourite__item {
    @media (width <= 1231px) {
        flex-basis: 690px;
    }
}
