@use "variables.scss";
@use "mixins.scss";

.favourite__title {
    font-size: clamp(1.5rem, 4vw, 3rem);
    font-weight: 900;
    line-height: clamp(1.5rem, 4vw, 50px); /* 104.167% */
    letter-spacing: 2.88px;
    z-index: 1;

    position: relative;
    width: fit-content;

    margin-bottom: clamp(60px, calc((118 / 1920) * 100vw), 118px);

    &::before {
        @include mixins.pseudo("../icons/new_yellow_vector.svg", 186px, 35px);

        position: absolute;
        z-index: -1;
        right: 0;
        bottom: -10px;
    }
}

.favourite__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 48px;
    column-gap: clamp(24px, calc((48 / 1920) * 100vw), 48px);

    padding-bottom: 109px;

    @media (width <= 1231px) {
        justify-content: center;
    }
}

.favourite__item {
    // flex-basis: clamp(416px ,calc((834/1920*100vw)),835px);
    @media (width <= 1231px) {
        flex-basis: 690px;
    }
}
