@use "variables.scss";
@use "mixins.scss";

.footer-navigation {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: clamp(32px, calc((80 / 1920) * 100vw), 188px);
}

.footer-navigation__title {
    color: #d9d9d9;
    font-size: clamp(16px, 1.5vw, 24px);
    line-height: clamp(32px, 1.5vw, 40px);
    letter-spacing: 0.48px;

    padding-bottom: clamp(16px, calc((32 / 1920) * 100vw), 32px);
}

.footer-navigation__list {
    color: #8e8e8e;
    font-size: clamp(16px, 1.5vw, 24px);
    line-height: clamp(32px, 1.5vw, 40px);
    letter-spacing: 0.48px;
    text-wrap: pretty;

    min-width: fit-content;

    display: flex;
    flex-direction: column;
    gap: clamp(16px, calc((32 / 1920) * 100vw), 32px);
    justify-content: flex-start;
    align-items: flex-start;

    position: relative;
}

.footer-navigation__link {
    @media (hover: hover) and (pointer: fine) {
        &:hover {
            text-decoration: underline;
            text-decoration-color: inherit;
            text-decoration-thickness: 2px;
            text-underline-offset: 4px;
        }

        &:active {
            opacity: 0.8;
            text-decoration: none;
        }
    }
}
