@use "variables.scss";
@use "mixins.scss";

.hero-title__marked {
    display: block;
    position: relative;
    
    &--white {
        &::before {
            content: "";
            display: block;
            width: 465px;
            height: 112px;
            background-color: variables.$color-bg;

            position: absolute;
            transform: rotate(-2deg);
            z-index: -1;
            right: 48px;
        }
    }

    &--yellow {
        &::before {
            content: "";
            display: block;
            width: 496px;
            height: 118px;
            background-color: variables.$color-yellow;
            
            position: absolute;
            transform: rotate(-2deg);
            z-index: -1;
            right: 6px;
        }
    }
}