@use "variables.scss";
@use "mixins.scss";

.hero {
    padding-bottom: 63px;
    width: clamp(320px, 100%, 1920px);
}

.hero__container {
    &--main {
        background-color: #f4f6f5;
        border-radius: 59px;

        display: flex;
        gap: 43px;
    }

    &--description {
        padding-top: 77px;
        padding-bottom: 90px;
        padding-left: 120px;
    }

    &--image {
        padding-top: 69px;
        padding-right: 81px;

        display: flex;
        align-items: flex-end;
        flex-grow: 1;
        position: relative;
    }

    &--button {
        position: relative;
        display: flex;
        gap: 34px;
        align-items: center;
    }
}

.hero__title {
    font-size: clamp(1rem, 5vw, 6rem);
    font-weight: 900;
    line-height: clamp(2rem, 6vw, 120px);
    text-transform: uppercase;

    position: relative;
    z-index: 1;

    padding-bottom: 40px;

    width: 474px;
}

.hero__description {
    color: #191818;
    font-size: clamp(0.5rem, 2vw, 2rem);
    letter-spacing: -1.6px;

    padding-bottom: 32px;
}

.hero__button {
    font-size: 30px;
    font-size: clamp(1rem, 2vw, 30px);
    letter-spacing: -1.5px;

    display: block;
    border-radius: 10px;

    position: relative;
    padding: 18px 40px;
}

.hero__image {
    object-position: bottom;
    height: auto;
}

.hero__shape {
    @include mixins.pseudo("../icons/hero_yellow_vector.svg", 190px, 32px);
}

.hero__star-1 {
    width: 58px;
    height: 56px;
    left: 23px;
    bottom: 34px;
}

.hero__star-2 {
    width: 58px;
    height: 56px;
    left: -20px;
    top: 68px;
}

.hero__star-3 {
    width: 58px;
    height: 56px;
    right: 238px;
    top: 104px;
}

.hero__star-4 {
    width: 58px;
    height: 56px;
    right: 92px;
    bottom: 83px;
}

