@use "variables.scss";
@use "mixins.scss";

.hero-title {
    font-size: clamp(16px, 5vw, 96px);
    font-weight: 900;
    line-height: clamp(32px, 6vw, 120px);
    text-transform: uppercase;

    @media (width <= variables.$screen-mobile) {
        text-align: center;
        font-size: clamp(24px, 5vw, 96px);
        line-height: clamp(36px, 6vw, 120px);
    }
}

.hero-title__marked {
    display: block;
    position: relative;

    &--white {
        &::before {
            content: "";
            display: block;
            width: 24vw;
            max-width: 465px;
            height: 100%;
            background-color: variables.$color-bg;

            position: absolute;
            transform: rotate(-2deg);
            z-index: -1;
            left: -6px;

            @media (width <= variables.$screen-mobile) {
                width: 36vw;
                left: 0;
                left: calc((-10 / 420) * 100vw);
            }
        }
    }

    &--yellow {
        &::before {
            content: "";
            display: block;
            width: 25.8vw;
            max-width: 496px;
            height: 100%;
            background-color: variables.$color-yellow;

            position: absolute;
            transform: rotate(-2deg);
            z-index: -1;
            left: -10px;

            @media (width <= variables.$screen-mobile) {
                width: 36vw;
                left: 0;
                left: calc((60 / 420) * 100vw);
            }
        }
    }

    @media (width <= variables.$screen-mobile) {
        display: inline-block;
    }
}
