@use "variables.scss";
@use "mixins.scss";

.hero {
    padding-bottom: 63px;
    width: clamp(320px, 100%, 1920px);
}

.hero__container {
    overflow: hidden;

    &--main {
        background-color: #f4f6f5;
        border-radius: 59px;

        display: flex;
        gap: 43px;

        @media (width <= variables.$screen-tablet) {
            gap: clamp(24px, calc((43 / 1920) * 100vw), 43px);
        }
    }

    &--description {
        padding-top: calc((77 / 1920) * 100vw);
        padding-bottom: calc((90 / 1920) * 100vw);
        padding-left: calc((120 / 1920) * 100vw);

        @media (width <= variables.$screen-tablet) {
            flex-shrink: 0;
            width: calc((320 / 1024) * 100vw);
        }
    }

    &--image {
        padding-top: calc((69 / 1920) * 100vw);

        display: flex;
        align-items: flex-end;
        flex-grow: 1;
        position: relative;
    }

    &--button {
        position: relative;
        display: flex;
        gap: 34px;
        align-items: center;
    }
}

.hero__title {
    position: relative;
    z-index: 1;

    padding-bottom: clamp(24px, 2.2vw, 40px);

    width: 474px;
}

.hero__description {
    color: #191818;
    font-size: clamp(0.5rem, 2vw, 2rem);
    letter-spacing: -1.6px;

    padding-bottom: clamp(16px, calc((32 / 1920) * 100vw), 32px);
    @media (width <= variables.$screen-tablet) {
        letter-spacing: normal;
    }
}

.hero__button {
    font-size: 30px;
    font-size: clamp(1rem, 2vw, 30px);
    letter-spacing: -1.5px;

    display: block;
    border-radius: 10px;

    position: relative;
    padding: calc((18 / 1920) * 100vw) calc((40 / 1920) * 100vw);
}

.hero__image {
    height: 100%;
    object-position: 0 bottom;

    @media (width <= variables.$screen-tablet) {
        object-position: calc((1 / 1024) * 100vw) bottom;
        object-fit: cover;
    }
}

.hero__shape {
    @include mixins.pseudo("../icons/hero_yellow_vector.svg", calc((190 / 1920) * 100vw), calc((32 / 1920) * 100vw));
    background-size: contain;

    @media (width <= 1190px) {
        display: none;
    }
}

.hero__star-1 {
    @include mixins.star(58, 56, auto, auto, 34, 23);

    @media (width <= variables.$screen-tablet) {
        display: none;
    }
}

.hero__star-2 {
    @include mixins.star(58, 56, 68, auto, auto, 0);

    @media (width <= variables.$screen-tablet) {
        display: none;
    }
}

.hero__star-3 {
    @include mixins.star(58, 56, 104, 238, auto, auto);

    @media (width <= variables.$screen-tablet) {
        display: none;
    }
}

.hero__star-4 {
    @include mixins.star(58, 56, auto, 92, 83, auto);

    @media (width <= variables.$screen-tablet) {
        display: none;
    }
}
