@use "variables.scss";
@use "mixins.scss";

.hero-title {
    font-size: clamp(1rem, 5vw, 6rem);
    font-weight: 900;
    line-height: clamp(2rem, 6vw, 120px);
    text-transform: uppercase;
}

.hero-title__marked {
    display: block;
    position: relative;
    
    &--white {
        &::before {
            content: "";
            display: block;
            width: 24vw;
            max-width: 465px;
            height: 100%;
            background-color: variables.$color-bg;

            position: absolute;
            transform: rotate(-2deg);
            z-index: -1;
            left: -6px;
        }
    }

    &--yellow {
        &::before {
            content: "";
            display: block;
            width: 25.8vw;
            max-width: 496px;
            height: 100%;
            background-color: variables.$color-yellow;

            position: absolute;
            transform: rotate(-2deg);
            z-index: -1;
            left: -10px;

        }
    }
}