@use "variables.scss";
@use "mixins.scss";

body {
    margin: 0;
}

img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    display: block;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

a {
    display: block;
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

ul,
ol {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
    margin: 0;
    padding: 0;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.wrapper {
    padding: 0 100px;
    margin: 0 auto;
    text-align: start;
    max-width: 1920px;
}

.star {
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);

    position: absolute;

    &--grey {
        background-color: #e7e6e6;
    }

    &--white {
        background-color: rgba(255,255,255,0.5)
    }
}
