@use "variables.scss";
@use "mixins.scss";

.new__title {
    font-size: clamp(1.5rem, 4vw, 3rem);
    font-weight: 900;
    line-height: clamp(1.5rem, 4vw, 50px); /* 104.167% */
    letter-spacing: 2.88px;
    text-transform: uppercase;
    z-index: 1;

    position: relative;
    width: fit-content;

    margin-bottom: 101px;
    margin-bottom: clamp(60px, 5vw, 101px);

    &::before {
        @include mixins.pseudo("../icons/new_yellow_vector.svg", 186px, 35px);

        position: absolute;
        z-index: -1;
        right: 0;
        bottom: 0;
    }
}

.new__list {
    display: flex;
    flex-wrap: wrap;
    column-gap: clamp(25px, 2.3vw, 90px);
    row-gap: 32px;

    padding-bottom: 109px;
}

.new__item {
    flex-basis: clamp(250px, calc((484 / 1920) * 100vw), 484px);
}
