@use "variables.scss";
@use "mixins.scss";

.new__title {
    font-size: clamp(16px, 4vw, 48px);
    font-weight: 900;
    line-height: clamp(16px, 4vw, 50px);
    letter-spacing: 2.88px;
    text-transform: uppercase;
    z-index: 1;

    position: relative;
    width: fit-content;

    margin-bottom: 101px;
    margin-bottom: clamp(60px, 5vw, 101px);

    &::before {
        @include mixins.pseudo(
            "../icons/new_yellow_vector.svg",
            clamp(60px, calc((186 / 1920) * 100vw), 186px),
            clamp(12px, calc((35 / 1920) * 100vw), 35px)
        );

        position: absolute;
        z-index: -1;
        right: 0;
        bottom: 0;
    }

    @media (width <= variables.$screen-tablet-large) {
        &::before {
            width: calc(186px / 2);
            height: calc(35px / 2);
            background-size: contain;
        }
    }

    @media (width <= variables.$screen-mobile) {
        margin-bottom: 36px;
    }
}

.new__list {
    display: flex;
    flex-wrap: wrap;
    column-gap: clamp(20px, 2.3vw, 90px);
    row-gap: 32px;

    padding-bottom: clamp(64px, 2.3vw, 109px);

    @media (width <= variables.$screen-tablet-large) {
        column-gap: clamp(20px, 2.3vw, 90px);
    }

    @media (width <= variables.$screen-mobile) {
       flex-direction: column;
       flex-wrap: nowrap;
    }
}

.new__item {
    flex-basis: clamp(140px, calc((484 / 1920) * 100vw), 484px);
}
