@use "variables.scss";
@use "mixins.scss";

.page {
    height: 100%;
  }
  
  .page__body {
    height: 100%;
    font-family: variables.$font;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: normal;
    color: #000000;
    margin: 0;
    text-wrap: balance;
    min-height: 100%;
  }