@use "variables.scss";
@use "mixins.scss";

.promo {
    background: linear-gradient(
        1deg,
        #e0c340 0.13%,
        #dfc23e 3.97%,
        #e1c441 7.2%,
        #e3c743 10.13%,
        #e4c542 12.98%,
        #e6c744 15.99%,
        #e7c845 19.52%,
        #e5c643 23.96%,
        #e6c945 30.43%,
        #e3c743 36.49%,
        #e9ca48 42.49%,
        #edce49 49.35%,
        #f0d44c 55.42%,
        #f4d84f 61.43%,
        #f6da52 65.74%,
        #f7db53 72.23%,
        #f9dd55 77.43%,
        #f9df56 83.84%,
        #fae157 91.52%,
        #f9df56 97.87%
    );
}

.promo__container {
    width: clamp(320px, 100%, 1920px);

    margin: 0 auto;
    margin-bottom: clamp(64px, 5vw, 190px);

    display: flex;
}

.promo__image-container {
    flex-basis: calc((991 / 1920) * 100vw);
    position: relative;
}

.promo__subject-container {
    flex-basis: calc((933 / 1920) * 100vw);
    padding: 0 calc((100 / 1920) * 100vw) 55px 67px;

    @media (width <= 768px) {
        padding-left: 32px;
        padding-right: 18px;
    }
}

.promo__image {
    height: 100%;
    object-position: 2px bottom;
    object-fit: cover;

    @media (width <= variables.$screen-tablet) {
        object-position: clamp(-20px, calc((-1 / 1920) * 100vw), 100px) bottom;
    }

    @media (width <= 580px) {
        object-position: clamp(-60px, calc((-300 / 1920) * 100vw), 100px) bottom;
    }
}

.promo__title {
    padding-top:  clamp(48px, 5vw, 128px);
    padding-bottom: clamp(16px, 2vw, 33px);
}

.promo__description {
    color: #231300;
    font-size: 36px;
    font-size: clamp(12px, 2vw, 36px);
    font-style: normal;
    font-weight: 500;
    line-height: 52px;
    letter-spacing: -0.7px;
    word-break: pretty;

    padding-bottom: clamp(16px, 2vw, 41px);

    @media (width <= variables.$screen-tablet) {
        line-height: 36px;
    }

    @media (width <= 700px) {
        line-height: 20px;
    }

}

.promo__period {
    font-size: clamp(12px, 2vw, 36px);
    font-weight: 700;
    line-height: 54px;
    letter-spacing: 0.7px;

    @media (width <= variables.$screen-tablet) {
        line-height: 36px;
    }
}

.promo__asterisk {
    font-size: clamp(12px, 2vw, 36px);
    line-height: 52px;
    letter-spacing: -0.7px;

    padding-bottom: clamp(24px, 2vw, 51px);

    @media (width <= variables.$screen-tablet) {
        line-height: 36px;
    }

    @media (width <= 700px) {
        line-height: 20px;
    }
}

.promo__link {
    color: variables.$color-bg;
    font-family: variables.$font;
    font-size: clamp(12px, 2vw, 28px);
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.56px;
    text-transform: uppercase;

    padding: clamp(12px, 2vw, 26px) clamp(24px, 2vw, 51px);
    border-radius: 8.14px;
    width: fit-content;
}

.promo__star-1 {
    transform: rotate(-27deg);
    @include mixins.star(76, 76, 152, auto, auto, 136);

    @media (width <= variables.$screen-tablet) {
        display: none;
    }
}

.promo__star-2 {
    transform: rotate(-27deg);
    @include mixins.star(76, 76, 490, auto, auto, 187);

    @media (width <= variables.$screen-tablet) {
        display: none;
    }
}

.promo__star-3 {
    transform: rotate(-27deg);
    @include mixins.star(76, 76, 83, 123, auto, auto);

    @media (width <= variables.$screen-tablet) {
        display: none;
    }
}

.promo__star-4 {
    transform: rotate(-27deg);
    @include mixins.star(76, 76, auto, 72, 226, auto);

    @media (width <= variables.$screen-tablet) {
        display: none;
    }
}
