@use "variables.scss";
@use "mixins.scss";

.promo {
    background: linear-gradient(1deg, #E0C340 0.13%, #DFC23E 3.97%, #E1C441 7.2%, #E3C743 10.13%, #E4C542 12.98%, #E6C744 15.99%, #E7C845 19.52%, #E5C643 23.96%, #E6C945 30.43%, #E3C743 36.49%, #E9CA48 42.49%, #EDCE49 49.35%, #F0D44C 55.42%, #F4D84F 61.43%, #F6DA52 65.74%, #F7DB53 72.23%, #F9DD55 77.43%, #F9DF56 83.84%, #FAE157 91.52%, #F9DF56 97.87%);
}

.promo__container {
    width: clamp(320px, 100%, 1920px);

    margin: 0 auto;

    display: flex;
}

.promo__image-container {
    flex-basis: calc((991 / 1920) * 100vw);
}

.promo__subject-container {
    flex-basis: calc((933 / 1920) * 100vw);
}

.promo__image {
    object-position: 2px;
}