@use "variables.scss";
@use "mixins.scss";

.subscribe {
    background-color: #e5c643;
}

.subscribe__wrapper {
    padding: 141px 440px 156px;
    text-align: center;
}

.subscribe__title {
    color: #ffffff;
    text-align: center;
    font-size: 55px;
    font-weight: 900;
    line-height: 70px;
    letter-spacing: 1.65px;
    text-transform: uppercase;
    white-space: break-spaces;

    padding-bottom: 37px;
}

.subscribe__description {
    color: #fffcf8;
    font-size: 32px;
    line-height: 35px;
    letter-spacing: 0.96px;

    padding-bottom: 49px;
}

