$font: "Poppins", "Tahoma", sans-serif;
$screen-mobile: 430px;
$screen-tablet-large: 1024px;
$screen-tablet-small: 768px;
$screen-desktop: 1920px;
$color-bg: #ffffff;
$color-black: #000000;
$color-yellow: #ebd96b;
