section.download
    h2.visually-hidden donwload app
    .download__wrapper.wrapper
        .download__container.download-container
            .download-container__subject
                p.download__title download app & get the voucher!
                p.download__description Get 30% off for first transaction using Rondovision mobile app for now.
                .download-container__links
                    a.download__link.link.download__link--apple(href="#apple")
                        span.visually-hidden загрузить приложение appstore.
                    a.download__link.link.download__link--googleplay(href="#googleplay")
                        span.visually-hidden загрузить приложение googleplay.
            .download-container__image
                include ./mobile_app.pug 
                span.download__cirle.circle.circle--1 
                span.download__cirle.circle.circle--2 
                span.download__cirle.circle.circle--3 
                span.download__cirle.circle.circle--4 
                span.download__mobile-round.download__mobile-round--1
                span.download__mobile-round.download__mobile-round--2 
                span.download__mobile-round.download__mobile-round--3