header.main-header 
    nav.main-nav
      .wrapper.main-nav__wrapper
        a.main-nav__logo.link(href="#") Fashion
        .main-nav__container
          ul.main-nav__list.list
            each link in ['Catalogue', 'Fasion', 'Favourite', 'Lifestyle']
              li.main-nav__item: a.main-nav__link.link(href=`#${link.toLowerCase()}`) #{link}
          button.main-nav__button.button.button--black(type="button") Sign up   
