section.hero.wrapper
    .hero__container.hero__container--main 
        .hero__container.hero__container--description
            h2.hero__title.hero-title
                span.hero-title__marked.hero-title__marked--white Let's
                |  explore 
                span.hero-title__marked.hero-title__marked--yellow unique 
                | clothes.
            p.hero__description Live for Influential and Innovative fashion!
            .hero__container.hero__container--button
                .hero__shape
                button.hero__button.button.button--black(type="button") Shop Now
        .hero__container.hero__container--image
            img.hero__image(src="../images/hero_main.png", width="871", height="784", alt="Unique style")
            span.hero__star-1.star.star--grey
            span.hero__star-2.star.star--grey
            span.hero__star-3.star.star--grey
            span.hero__star-4.star.star--grey
