section.new.wrapper
    h2.new__title new arrivals
    ul.new__list.list(itemscope itemtype="http://schema.org/Product")
     each link, index in ['Hoodies', 'Coats', 'T-shirts']
       li.new__item
         - let imgPath = ['../images/new_1.jpg', '../images/new_2.jpg', '../images/new_3.jpg'];
         - let imgAlt = ['Hoodies & Sweetshirt', 'Coats & Parkas', 'Tees & T-Shirt'];
         - let title = ['Hoodies & Sweetshirt', 'Coats & Parkas', 'Tees & T-Shirt'];

         a.new__link.link.new-link(href=`#${link.toLowerCase()}`)

           .new-link__image
             img(itemprop="image", src=imgPath[index], alt=imgAlt[index])

           .new-link__container
             .new-link__container-inner
               h3(itemprop="name").new-link__title= title[index]
               span.new-link__description Explore Now!

             button.new-link__button.button.button--arrow(type="button")



