section.promo
    h2.visually-hidden promotion
    .promo__container
        .promo__image-container
            img.promo__image(src="../images/promo_main.jpg", width="991.42", height="968", alt="promo photo.")
        .promo__subject-container
            h3.promo__title.promo-title 
                span.promo-title__marked.promo-title__marked--white payday
                span.promo-title__marked.promo-title__marked--yellow sale now 
            p.promo__description Spend minimal $100 get 30% off voucher code for your next purchase
            p.promo__period 1 June - 10 June 2021
            p.promo__asterisk *Terms & Conditions apply
            a.promo__link.link.button--black(href="#catalog") shop now