section.subscribe
    .subscribe__wrapper.wrapper
        h2.visually-hidden Subscribe 
        p.subscribe__title join shopping community to get monthly promo
        p.subscribe__description type your email down below and be young wild generation
        form.subscribe__form.subscribe-form(action="#" method="get" id="emailForm")
            label.subscribe-form__label(for="email") 
                input.subscribe-form__input(type="email" id="email" name="email" placeholder="Add your email here" required)
                button.subscribe-form__button.button.button--black(type="submit") send 
                