doctype html
html.page(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title= pageTitle || 'Default Title'
        link(rel="stylesheet", href="./styles/main.scss")
    body.page__body
        main

        footer