doctype html
html.page(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Fashion
        link(rel="stylesheet", href="./styles/main.css")
    body.page__body
        include ./components/header.pug
        main
            h1.visually-hidden Fashion - unique clothes.
            include ./components/hero.pug
        footer