doctype html
html.page(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Fashion
    body.page__body

        .page__container
            include ./components/header.pug
            main.main-container
                h1.visually-hidden Fashion - unique clothes.
                include ./components/hero.pug
                include ./components/collaboration.pug
                include ./components/new.pug
                include ./components/promo.pug
                include ./components/favourite.pug
                include ./components/download.pug   
            footer